/* navigation */
nav {
    grid-area: nav;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100px;
    padding: 10px;
}

#title {
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    color: #a31a1a;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 1.2em;
    text-align: center;
    margin-left: 0;
    font-weight: 700;
}

#menu {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    font-size: 1em;
    margin: 0px;
    transition: all 0.3s;
}

li {
    padding: 0 5px;
}

.item {
    list-style-type: none;
    margin: 5px;
}

.item > a {
    color: #222;
    padding: 8px 20px;
    border-radius: 2px;
}

.item > a:active {
    color: #222 !important;
    background-color: #696786;
    border: 1.5px solid #696786;
}

.item > a:visited {
    color: #222;
}

.item > a.selected {
    color: #222 !important;
    border: 1px solid #696786;
}

.item > a:hover {
    color: #ffffff !important;
    background-color: #696786;
    border: 1.5px solid #696786;
}

@media (min-width: 768px) {
    nav {
        height: 60px;
    }
    #title {
        display: flex;
        flex-flow: row wrap;
        width: 40%;
        justify-content: flex-start;
        align-items: center;
    }
    #title {
        font-size: 1.2em;
        text-align: center;
        margin-left: 0;
        font-weight: 600;
    }
    #menu {
        display: flex;
        flex-flow: row wrap;
        width: 60%;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        list-style-type: none;
        font-size: 1em;
        margin: 0px;
        transition: all 0.3s;
    }
}
