@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: url("../image/halong-bay.jpeg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    flex: 2;
}

a {
    color: black;
    &:hover,
    &:active
    {
        color:#30DFF2;
    }
}

p {
    margin-bottom: 0.25rem;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    color: black;
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: black;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0 0 1rem;
}

.results {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    min-height: 200px;
    padding: 1.5rem;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    section {
        margin: 20px auto;
    }
}
