body {
    background: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#parent-container {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: space-between;
    @media screen {
        height: 100vh;
    }
}

#content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../media/halong-bay.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #fffaf0;
}

.user-input-placeholder {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: space-between;
    align-self: center;
    @media (min-width: 700px) {
        flex-direction: row;
    }
    #destination {
        text-align: center;
        padding: 12px;
        margin: 8px 5px;
        border: 1px solid #fffaf0;
        box-sizing: border-box;
    }
}


/* tile styling */
.text-gradient {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}

.link {
    outline: none;
    text-decoration: none;
    color: #fffaf0;
}

.link:visited {
    color: #fffaf0;
}

.link:hover {
    color: #F6AA1C;
}

.post-info {
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .post h4 {
        font-size: 1.5em;
    }
    .post .post-info {
        font-size: 0.8em;
    }
    .text-gradient {
        padding: 5px 15px;
        margin: 5px;
    }
}

input[type=text],
input[type=submit],
input[type=date] {
    text-align: center;
    padding: 12px;
    margin: 8px 5px;
    border: 1px solid #fffaf0;
    box-sizing: border-box;
    border-radius: 20px;
}

input[type=submit] {
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    background-color: #e54b4b;
    border: 2px solid #e54b4b;
    color: #fffaf0;
    transition: all 0.3s;
    border: none;
}

input[type=submit]:hover {
    background-color: transparent;
    border: 2px solid #e54b4b;
    color: #e54b4b;
    transform: scale(0.9);
}

input[type=submit]:disabled {
    color: #e6e6e6;
    background: #f2f3f4;
    border: 1px solid #e6e6e6;
    cursor: not-allowed;
}

@media (min-width: 600px) and (max-width: 780px) {
    input[type=submit] {
        font-size: 0.9em;
    }
}

.trip {
    display: flex;
    background: wheat;
    padding: 20px;
    margin: 20px;
    color: #222;
    justify-content: space-between;
    .right-side {
        margin: 20px;
    }
    img {
        height: 100px;
        width: 100px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    .btn {
        margin: 20px;
    }
}

.saved-trips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
