@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.menu {
    list-style: none;
    display: inline-block;
    li {
        display: inline;
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 5px 20px;
    }   
}
